<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="true">

<ion-item>
  <ion-label position="stacked" >Primer valor</ion-label>
  <ion-input type="number" [(ngModel)]="valor1"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked" >Segundo valor</ion-label>
  <ion-input type="number" [(ngModel)]="valor2" ></ion-input>
</ion-item>

<ion-list>
  <ion-list-header>Operaciones</ion-list-header>

  <ion-item>
    <ion-label>Operación</ion-label>
    <ion-select placeholder="Selecciona una" [(ngModel)]="operacion">
      <ion-select-option value="sumar">Sumar</ion-select-option>
      <ion-select-option value="restar">Restar</ion-select-option>
      <ion-select-option value="multiplicar">Multiplicar</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<ion-button expand="block" color="primary" (click)="Calcular()">Calcular</ion-button>
<p><span [innerHTML]="resultado"></span></p>