<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista simple
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="stacked">Valor a agregar</ion-label>
    <ion-input [(ngModel)]="valor"></ion-input>
  </ion-item>

  <ion-button expand="block" color="primary" (click)="Agregar()">Agregar</ion-button>
  <h3>{{mensaje}}</h3>

  <ion-list>
    <ion-item *ngFor="let elemento of lista">
      <ion-label>
        <h2>{{elemento}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>